header {
  background-color: #f7ecad;
  color: #000;
  height: 60px;
}

.logo {
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
  animation: slideInRight 1s;
}

@keyframes slideInRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

nav ul li a:hover {
  background-color: #fcf2b6; 
  animation: increaseFont 0.3s ease forwards;
}


@keyframes increaseFont {
  from {
    font-size: 16px;
  }
  to {
    font-size: 20px;
  }
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  padding: 5px ;
  height: auto;
}

.dropdown-menu li {
  list-style: none;
  text-align: left;
}

.dropdown-menu li a {
  display: block;
  padding: 5px;
}

.dropdown:hover .dropdown-menu {
  display: block;
}
